nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  background-color: rgb(161, 237, 237);
  padding: 20px;
}

nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  list-style: none;
}